mixin device()
  section.device-wrap
    .container
      +e.device
        h2.title.mb0 Аппарат для эпиляции
        h3.title-dark.text-center.mt15 Innovatione 1S PRO IPLASER
      +e.items
        -
          var items = [
            {
              title: 'Загорелая кожа',
              text: 'Эффективно удаляет волоски на загорелой коже. Можно проходить сеансы в любое время года'
            },
            {
              title: 'Новейшая насадка',
              text: 'Имеет охлаждающий эффект, что снижает или убирает болевые ощущения'
            },
            {
              title: 'Без последствий',
              text: 'Раздражения на коже, ожоги можно оставить в истории. Кожа будет совершенной после сеанса'
            },
            {
              title: 'Все типы волос',
              text: 'Удаляются даже темные, русые, рыжие, светлые волоски. Работаем с тонкими, пушкообразными структурами'
            },{
              title: 'Оперативность',
              text: 'Высокая частота импульсов позволяет проводить сеанс быстро. Лазер испускает около 10 импульсов в секунду'
            },
            {
              title: 'Точечное воздействие',
              text: 'Реакция происходит только в фолликуле волоса. Клетки кожи не затрагиваются'
            }
          ]
        +e.item
          each item, index in items
            if index < 4
              - var i = index + 1
              +e.item-small
                +e.img
                  img(src='' alt='')
