mixin faq()
  section.faq-wrap
    .container
      +b.faq
        h2.title Часто задаваемые вопросы
        +e.items
          -
            var items = [
              {
                title: 'Долго ли действет эффект от процедуры?',
                text: 'Лазерная эпиляция дает результат навсегда в отличии от обычных методов депиляции'
              },
              {
                title: 'Это больно?',
                text: 'За счет использования охлаждающего геля болевых ощущений практически нет, есть легкое покалывание и ощущение тепла'
              },
              {
                title: 'Какой интервал должен быть между процедурами?',
                text: 'Раз в 3-4 недели, за это время фолликул успеет прорасти и необходимо будет повторить процедуру. На первой процедуре специалист расскажет подробнее об интервалах между сеансами'
              },
              {
                title: 'Сколько процедур необходимо?',
                text: 'Для полного удаления волос потребуется курс от 4 до 12 процедур. Темный и плотный волос разрушится за 4-6 процедур. Светлый и тонкий потребует до 12 сеансов. Лазер видит только пигмент. Соответственно, большое количество пигмента провоцирует сильное воздействие лазера'
              },
              {
                title: 'Какое у вас оборудование?',
                text: 'Мы используем аппарат лазерного удаления волос Innovatione 1S PRO IPLASER. Год выпуска - 2018. Данный аппарат позволяет проводить максимально безболезненную процедуру за счет точных настроек исходя из типа кожи и охлаждения сапфирового наконечника'
              },
              {
                title: 'Есть ли противопоказания?',
                text: 'Есть противопоказания для определенных групп пациентов. Подробнее с противопоказаниями можно ознакомиться нажав на кнопку внизу',
                link: true
              },
              {
                title: 'Как подготовиться к процедуре?',
                list: [
                  'нельзя загорать 2дней до процедуры',
                  'нельзя выдергивать волосы на эпилируемом участке за 2 недели до процедуры',
                  'нельзя протирать эпилируемый участок кожи спиртосодержащими средствами в день процедуры',
                  'за 1-2 дня до процедуры зону эпиляции следует тщательно выбрить'
                ]
              },
              {
                title: 'Как ухаживать за кожей после процедуры?',
                list: [
                  '7 дней после процедуры нельзя загорать',
                  '2 дня после процедуры нельзя принимать горячую ванну',
                  '2 дня после процедуры нельзя посещать бассейн с хлорированной водой',
                  '2 дня после процедуры нельзя посещать сауны, бани',
                  '2 дня после процедуры нельзя протирать зону эпиляции спиртосодержащими средствами'
                ]
              }
            ]
          each item in items
            +e.item.js-hide-wrap
              h3.c-pink.fz18.fw-semi-bold.mb10.mt20.js-hide-title= item.title
              .js-hide-content
                if item.list
                  ul.list
                    each li in item.list
                      li= li
                else
                  p= item.text
                  if item.link
                    +e('button').btn.js-modal-btn(data-id='contr') Противопоказания
  .modal-wrap
    +b.modal.modal--big.js-modal(id='contr')
      +e.title
        span Противопоказания
        button.btn-close.js-btn-close
          span
          span
      ul.list
        -
          var list = [
            'заболевания кожи в острой или хронической форме, такие как дерматоз, псориаз, экзема и т.п.;',
            'лица не достигшие 18-ти не допускаются до процедуры;',
            'сахарный диабет;',
            'герпес в стадии обострения;',
            'онкологические заболевания;',
            'аллергия на свет или солнце;',
            'варикоз на месте обработки;',
            'прием препаратов вызывающих изменения светочувствительности;',
            'беременность и лактация;',
            'ослабление иммунной системы;',
            'проведение биоэпиляции в последние 30 дней;',
            'наличие родинок и кожных повреждений;',
            'простудные вирусные инфекции – ангина, грипп, ОРВИ;',
            'аллергия в острой форме;',
            'склонность к образованию на коже келоидных рубцов;',
            'свежий загар независимо от того, естественный он или приобретен в солярии.'
          ]
        each item in list
          li= item
      .d-flex.justify-content-center.mt10
        button.btn.js-modal-btn(data-id='callback') Получить консультацию
    .overlay
