mixin desc()
  section.desc-wrap
    .container.pos-relative
      img.desc__feathers(src='assets/images/feathers/feathers3.png' alt='')
      +b.desc
        h2.title.mt0 Описание процедуры
        +e.main
          +e.text
            h3.title-dark.mb30.mt0 Уникальная методика по удалению  нежелательных волос навсегда!
            p Система IPLASER - это самый безопасный, безболезненный и эффективный способ лазерной эпиляции.
            p Процедура проходит быстро. Обработка зоны бикини занимает примерно 10-15 минут, зона подмышек - 5 минут, голени и бедра - до 20 минут.
            ul.list
              -
                var list = [
                  'Эффект. Уже после первой процедуры лазерной эпиляции результат не заставит себя ждать, на 14 день волосы станут расти медленнее, станут тоньше и местами выпадут.',
                  'Безболезненность. Наш лазер оснащён системой охлаждения (сапфировое стекло) и делает три вспышки, вместо одной, кожа успевает отдохнуть и охладиться, что снижает неприятные ощущения. Лазер работает без геля',
                  'IPLASER позволяет проводить эпиляцию с 1 по 6 фототип кожи.'
                ]
              each li in list
                li= li
            p.c-pink.mt15 Вы получите гладкую и красивую кожу, притягивающую взгляды окружающих!
            button.btn.js-modal-btn(data-id='callback') Записаться
          +e.img
            +e.slider
              -
                var items = [
                  'IMG_7118.JPG',
                  'IMG_7119.JPG',
                  'IMG_7120.JPG',
                  'IMG_7121.JPG',
                  'IMG_7304.JPG'
                ]
              each item in items
                img(src=`assets/images/desc/${item}` alt='')
