mixin desc()
  section.desc-wrap
    .container
      +b.desc
        h2.title.mt0 Описание процедуры
        +e.main
          +e.text
            h3.title-dark.mb30.mt0 Уникальная методика по удалению  нежелательных волос навсегда!
            p Лазерная  эпиляция на аппарате последнего поколения <span class='c-pink'>In-Motion</span> с диодным лазером - делает процесс удаления волос максимально комфортным и безболезненненым.
            p Лазер не просто удалит нежелательные волосы но и изменит внешний вид кожи: цвет станет более ровный а кожа гладкой.
            p.c-pink.mt25 Вы получите гладкую и красивую кожу, притягивающую взгляды окружающих!
            button.btn.js-modal-btn(data-id='callback') Записаться
          +e.img
            img(src='assets/images/desc.png')
