mixin reviews()
  section.reviews-wrap
    .container
      +b.reviews
        h2.title Отзывы
        +e.slider.row.mt30
          -
            var items = [
              'FullSizeRender.jpg',
              'IMG_7160.PNG',
              'IMG_7161.PNG',
              'IMG_7162.PNG',
              'IMG_7280.PNG',
              'IMG_7281.PNG',
              'IMG_7282.PNG',
              'IMG_7283.PNG',
              'IMG_7284.PNG'
            ]
          each item in items
            .col-12
              img(src=`assets/images/reviews/${item}` alt='')
