@import "../../shared/sass/imports"

.reviews
  &__item
    display: flex
    margin-bottom: 30px
    padding: 30px 25px
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.25)
    @media (max-width: $sm)
      padding: 30px 15px
  &__text
    padding-left: 20px
    @media (max-width: $sm)
      padding-left: 15px

.slider
  &__btn
    +btn
    position: absolute
    z-index: 1
    top: 50%
    transform: translateY(-50%)
  &__prev
    left: -50px
    transform: rotate(90deg)
  &__next
    right: -50px
    transform: rotate(-90deg)

.reviews__slider
  @media (max-width: 1250px)
    margin-left: 5px !important
    margin-right: 5px !important
  .slick-track
    display: flex
    display: -webkit-box
    align-items: center
