include ../../../node_modules/bemto.pug/bemto
include ../header/header
include ../footer/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    block head
    title= pageTitle || ''

    link(href='assets/libs/bootstrap/bootstrap-grid.min.css' rel='stylesheet')
    link(href='assets/libs/slick/slick.css' rel='stylesheet')
    link(href='assets/css/style.css' rel='stylesheet')
  body
    .root
      +header()
      main.main
        block content
      +footer()
    script(src='assets/libs/jquery-3.3.1.min.js')
    script(src='assets/libs/slick/slick.min.js')
    script(src='assets/js/script.js')
