@for $i from 1 through 6
  $j: $i * 5
  .mt#{$j}
    margin-top: #{$j}px !important
  .mb#{$j}
    margin-bottom: #{$j}px !important
  .ml#{$j}
    margin-left: #{$j}px !important
  .mr#{$j}
    margin-right: #{$j}px !important
  .pt#{$j}
    padding-top: #{$j}px !important
  .pb#{$j}
    padding-bottom: #{$j}px !important
  .pl#{$j}
    padding-left: #{$j}px !important
  .pr#{$j}
    padding-right: #{$j}px !important

.m0
  margin: 0 !important

.mt0
  margin-top: 0 !important

.mb0
  margin-bottom: 0 !important

.ml0
  margin-left: 0 !important

.mr0
  margin-right: 0 !important

.p0
  padding: 0 !important

.pt0
  padding-top: 0 !important

.pb0
  padding-bottom: 0 !important

.pl0
  padding-left: 0 !important

.pr0
  padding-right: 0 !important
