mixin map()
  section.map-wrap
    .container
      h2.title.mt0.mb30 Как нас найти
      +b.map
        <iframe src="https://yandex.ua/map-widget/v1/-/CBFGN0HS0D" frameborder="0" allowfullscreen="true"></iframe>
