mixin studio()
  section.studio-wrap
    .container.pos-relative
      img.studio__feathers(src='assets/images/feathers/feathers1.png' alt='')
      +b.studio
        h2.title Наша студия
        +e.items.reviews__slider
          - for (var i = 1; i < 13; i++)
            +e.item
              if i < 4
                - var format = 'png'
              else
                - var format = 'jpg'
              img(src=`assets/images/studio/studio${i}.${format}` alt='')
